html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: @gray;
    background-image: url(../assets/images/noise.png), url(../assets/images/bg.png);
    background-position: 0 0, 0 0;
    background-size: auto, 100% auto;
    background-repeat: repeat, repeat-y;
    color: @black;
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
    //overflow: hidden;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding-top: 147px;
}

.home {
    //padding-top: 147px;
    &__listing {
        margin-bottom: 78px;
    }
    &__paragraph{
        box-sizing: border-box;
        max-width: 2161px;
        margin-top: 230px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    &__paragraph-p1,
    &__paragraph-p2{
        display: flex;
        margin: 0;
        width: 100%;
        font-family: @font3;
        font-size: 128px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
    &__paragraph-p1{
        max-width: 2161px;
        margin-left: -52px;
        white-space: nowrap;
        overflow: visible;
    }
    &__paragraph-p2{
        max-width: 1397px;
        margin-left: 712px;
        white-space: nowrap;
        overflow: visible;

    }
}

.main {
    flex: 1 0 auto;
}

.page-footer {
    flex: 0 0 auto;
}

a {
    color: @black;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

input,
textarea,
button,
select {
    box-shadow: none;
    outline: none;
    color: @black;
    font-family: @font1;
    cursor: pointer;
}

input,
textarea {
    &::-webkit-input-placeholder {
        color: #6c6c6c;
    }

    &::-moz-placeholder {
        color: #6c6c6c;
    }

    &:-moz-placeholder {
        color: #6c6c6c;
    }

    &:-ms-input-placeholder {
        color: #6c6c6c;
    }
}

input:focus,
textarea:focus {
    &::-webkit-input-placeholder {
        color: transparent;
    }

    &::-moz-placeholder {
        color: transparent;
    }

    &:-moz-placeholder {
        color: transparent;
    }

    &:-ms-input-placeholder {
        color: transparent;
    }
}

textarea {
    resize: none;
}

.main-header__title,
.main-header__text,
.main-header__text2 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: normal;
    color: #1f1e1e;
}

.main-header__title {
    margin: 0 0 70px;

}


.main-header__text,
.main-header__text2 {
    margin: 0 auto;
    max-width: 948px;
    width: 100%;
}
.main-header__text{
    margin-bottom: 100px;
}

.main-header__text2 {
    //margin-top: 100px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 136.364% */
    letter-spacing: 0.44px;
    text-transform: uppercase;
}


.main-header__picture {
    display: block;
    margin-bottom: 70px;
    position: relative;
    width: 100%;
}

.main-header__picture::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 16.927%;
}

.main-header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-header {
    padding: 100px 0;

    
}