@font-face {
    font-family: 'Mak';
    src: local('Mak Regular'), local('Mak-Regular'), url('assets/fonts/MAK.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.body {
    font-family: "Oper Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}

.page-header {
}


.page-header__container,
.events__container{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}

.page-header__logo{
    display: inline-block;
    width: 202px;
    height: 147px;
}

.page-header__logo-img{
    width: 100%;
    height: 100%;
}

.page-header__nav {
    display: inline-block;
}
.page-header__nav-link {
    margin:0 25px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}

.page-header__user_btn{
    box-sizing: border-box;
    text-decoration: none;
    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid #1f1e1e;
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    color: #1f1e1e;
}

.home {
    padding-top: 147px;
}

.main-header__title,
.main-header__text {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: normal;
    color: #1f1e1e;
}    

.main-header__title {
    margin: 0 0 70px;
    
}

.main-header__text{
    margin: 0 auto;
    max-width: 948px;
    width: 100%;
}

.main-header__picture{
    display: block;
    margin-bottom: 70px;
    position: relative;
    width: 100%;
}

.main-header__picture::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 16.927%;
}

.main-header__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-header {
    padding: 100px 0;
}

.events{
    padding-top: 147px;
}

.events__container{
    flex-direction: column;
}

.events__title{
    align-self: center;
}

.title {
    margin: 0 0 15-px;
    box-sizing: border-box;
    padding: 7px 45px 9px;
    max-width: 624px;
    width: 100%;
    text-align: center;
    background-color: #1F1E1E;
    text-transform: uppercase;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    color: #ffffff;


}


.listing{
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;

}

.listing__card-event{
    max-width: 405px;
    width: calc(33.333% - 40px);
}

.card_event{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card-event__link{
    text-decoration: none;
}

.card-event__link:hover .card-event__title{
    color: #A51505;
    text-decoration-color: #A51505;
}

.card-event__picture{
    position: relative;
    display: block;
    margin-bottom: 25px;
}

.card-event__picture::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.160%;
}

.card-event__picture-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.card-event__title{
    margin: 0 0 auto;
    min-height: 64px;
    text-decoration: underline;
    text-decoration-color: transparent;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1f1e1e;
    transition: color 0.2s, text-decoration-color 0.23s;

}

.card-event__text{
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #1F1E1E;
}

.card-event__time{
    margin-top: auto;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #1F1E1E;
}

.path_container{
    box-sizing: border-box;
    position: relative;
    display: flex;
    margin: 187px auto 0;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}

.path_text{
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1F1E1E;
}

.thebest-header__title{
    margin: 0 auto;
    text-align: center;
    font-family: Lora;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #1F1E1E;
}

.thebest-header__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

.thebest-header__img {
    width: 497px;
    height: 532px;
    flex-shrink: 0;
}

.thebest-header {
    padding: 38px 0 0 0;
}

.thebest-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1414px;
    margin: 0 auto;
}

.thebest-left-content,
.thebest-right-content {
    text-align: center;
}

.thebest-left-content img,
.thebest-right-content img {
    display: block;
    margin: 0 auto;
}

.thebest-left-content {
    margin-left: 60px;
}

.thebest-left-content__img {
    width: 139px;
    height: 1px;
    flex-shrink: 0;
}

.thebest-left-content_date,
.thebest-left-content_text{
    font-family: 'Mak', sans-serif;
    font-size: 16px;
    color: #1F1E1E;
    margin: 8px 0; /* Расстояние между строками */
}

.thebest-left-content_date {
    text-align: right;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.thebest-left-content_text {
    font-weight: 700;
    text-transform: uppercase;
}

.thebest-right-content {
    margin-right: 60px;
}

.thebest-right-content img {
    width: 160px;
    height: 1px;
    flex-shrink: 0;
}

.thebest-right-content_time,
.thebest-right-content_start,
.thebest-right-content_adress {
    font-family: 'Mak', sans-serif;
    color: #1F1E1E;
    margin: 8px 0;
}

.thebest-right-content_time,
.thebest-right-content_start {
    display: inline-block;
    
}

.thebest-right-content_time {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 11px;
}

.thebest-right-content_start,
.thebest-right-content_adress {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}


.program_container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 62px auto 0;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}
.program-header{
    margin-bottom: 21px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1F1E1E;
}

.program-details {
    display: flex;
    flex-direction: column; /* Изменение направления flex-контейнера на вертикальное */
    align-items: flex-start; /* Выравнивание по левому краю */
}

.program-text {
    display: flex;
    align-items: center;
}

.program-text__img {
    width: 4px;
    height: 228px;
    flex-shrink: 0;
    
}

.program-text__picture {
    margin-top: 5px;
    margin-right: 10px; /* Расстояние между program-text__picture и event-time */
    align-self: center;
}

.event-details {
    display: flex;
    flex-direction: column;
    width: 405px;
}
.event-time {
    
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #1F1E1E;
}
.event-details p {
    line-height: 0px;
}

.thebestofsade{
    margin-top: 57px;
}

.thebestofsade_text{
    width: 868px;
    height: 132px;
    margin-top: 15px;

}
.thebestofsade_details{
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1F1E1E;
}

.song-list {
    list-style: none; /* Убираем стандартные маркеры у списка */
    margin-top: 50px;
    padding-left: 0;
    width: 401px;
    height: 278px;
}

.song-list-item {
    counter-increment: song-counter;
    margin-bottom: 12px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1F1E1E;
}

.song-list-item::before {
    content: counter(song-counter) ". ";
    color: #1F1E1E; /* Стиль маркера соответствует стилю текста */
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
}

.order_container{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 62px auto 0;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}

.abovefooter-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px; /* Расстояние между линиями и футером */
}

.footer-line img {
    width: 1334px;
    height: 2px;
    flex-shrink: 0;
    margin: 0 auto; 
}

.page-footer {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;

}

.footer-item {
    display: flex;
    align-items: center;
}

.redline {
    width: 4px;
    height: 198px;
    flex-shrink: 0;
    margin-right: 22px; /* Расстояние между красной линией и текстами */
}

.footer-item__img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 22px; /* Межстрочный интервал между текстами */
    height: 198px; /* Высота текстового блока */
}

.footer-text p {
    margin: 0;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #1F1E1E;
}

